@{
    Layout = null;
}

@{
    ViewData["Title"] = "Report Page";
}

<div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-12">
                <h2 class="page-header">
                    <img src="~/dist/img/logo.png" alt="logo" class="logo img-left" style="width: 100px; height: 100px">
                    POLIS DIRAJA MALAYSIA
                </h2>
            </div>
            <!-- /.col -->
        </div>

        <br />

        <!-- Table row -->
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Balai Diambil</td>
                            <td>:</td>
                            <td>TAMAN TUN DR. ISMAIL</td>
                        </tr>
                        <tr>
                            <td>Daerah Diambil</td>
                            <td>:</td>
                            <td>BRICKFIELDS</td>
                        </tr>
                        <tr>
                            <td>Kontijen Diambil</td>
                            <td>:</td>
                            <td>KUALA LUMPUR</td>
                        </tr>
                        <tr>
                            <td>No Report</td>
                            <td>:</td>
                            <td>TTD/025/858</td>
                        </tr>
                        <tr>
                            <td>Tarikh</td>
                            <td>:</td>
                            <td>01/01/2013</td>
                        </tr>
                        <tr>
                            <td>Waktu</td>
                            <td>:</td>
                            <td>B.Malaysia</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <br /><br />
        <div class="row">
            <strong>Butir-butir Pengadu</strong>
        </div>
        <div class="row">
            <div class="col-12 table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>Nama</td>
                            <td>:</td>
                            <td>ALI</td>
                        </tr>
                        <tr>
                            <td>No. K/P (Baru)</td>
                            <td>:</td>
                            <td>991010138895</td>
                        </tr>
                        <tr>
                            <td>Jantina</td>
                            <td>:</td>
                            <td>Lelaki</td>
                        </tr>
                        <tr>
                            <td>Keturunan</td>
                            <td>:</td>
                            <td>Melayu</td>
                        </tr>
                        <tr>
                            <td>Warganegara</td>
                            <td>:</td>
                            <td>Malaysian</td>
                        </tr>
                        <tr>
                            <td>Alamat Tinggal</td>
                            <td>:</td>
                            <td>01/01/2013</td>
                        </tr>
                        <tr>
                            <td>No Tel (Bimbit)</td>
                            <td>:</td>
                            <td>0165558896</td>
                        </tr>
                        <tr>
                            <td>Emel</td>
                            <td>:</td>
                            <td>abc@yahoo.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
        </div>

        <br /><br />
        <div class="row">
            <strong>Pengadu</strong>
        </div>
        <div class="row">
            <p>
                PADA 05/04/2017, LEBIH KURANG JAM 13.40 HINGGA 13.50, SAYANMENDAPATI BARANG-BARANG SAYA TELAH
                TERCICIR DI LUAR BANGUNAN HENTIAN BAS, JALAN KAMPUNG, TAMAN TUN DR ISMAIIL, 60000, KUALA LUMPUR,
                WILAYAH PERSEKUTUAN KUALA LUMPUR.
                <br />
                <br />
                SENARAI BARANG HILANG:
                1. LESEN MEMANDU:
                NO SIRI LESEN: 01546982
                DIKELUARKAN OLEH: JABATAN PENGANGKUTAN JALAN KUALA LUMPUR
                <br />
                <br />
                SEKIAN LAPORAN SAYA.
            </p>
        </div>

        <br /><br />
        <div class="row">
            <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                <strong>
                    Salinan Tidak Boleh Digunakan Untuk Tuntutan Atau Perbicaraan di Mahkamah
                    Hanya Untuk Kegunaan Dalaman PDRM Sahaja
                </strong>
            </p>
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
<!-- ./wrapper -->
<!-- Page specific script -->
<script>window.addEventListener("load", window.print());</script>